@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

.container {
  width: 310px;
  height: 86px;
  background-image: url('/fondo.png');
  background-size: contain;
  background-position: center;
}

.main {
  padding: 20px;
  height: 100%;
  display: flex;
  align-items: center;
}

.img {
  width: 130px;
}

.p {
  font-family: 'DM Sans', sans-serif;
  font-size: 7px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin: 5px 0px 5px 10px;
}
